
.card#card1{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-color: #ffffff;
}

.card-header#card-header1{
    font-weight: bold;
    font-size: larger;
    background-color: #ffffff;
}

.card#card2{
    margin-top: 20px;
    border-color: #0dcaf0;
}

/*33 20%透明度; 4D 30%; 66 40% 80 50% */
.card-header#card-header2{
    background-color: #4ab3df4D;
    font-weight: bold;
}

.card#card3{
    margin-top: 20px;
    border-color: #ffc107;
}

.card-header#card-header3{
    background-color: #fd90024D;
    font-weight: bold;
}


.card#card4{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-color: #ffffff;
}

.card-header#card-header4{
    font-weight: bold;
    font-size: larger;
    background-color: #ffffff;
}

.card#card5{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-color: #ffffff;
}

.card-header#card-header5{
    font-weight: bold;
    font-size: larger;
    background-color: #ffffff;
}




#c0 .card-header,
#c1 .card-header,
#c2 .card-header,
#c3 .card-header,
#c4 .card-header,
#c5 .card-header,
#c6 .card-header,
#c7 .card-header{
    background-color: rgb(246, 249, 252);
}











