
#Species__wrapper table{
    margin-bottom: 30px;
}


#Species__wrapper td,
#Tissue_Type__wrapper td,
#Platform__wrapper td {
    padding: 4px;
}


#Species__wrapper .list-group-item,
#Tissue_Type__wrapper .list-group-item,
#Platform__wrapper .list-group-item {
    padding: 4px 6px;
}

span.badge.badge-default
{
    width: 54px;
    margin-right: 4px;
}


#Species__wrapper .dataTables_paginate .paginate_button{
    display: none;
}



/* 隐藏 Species_ 和 Platform_ 、 Tissue_Type_ 的前一页和后一页按钮 */
#Species__wrapper .dataTables_paginate .previous,
#Species__wrapper .dataTables_paginate .next,
#Platform__wrapper .dataTables_paginate .previous,
#Platform__wrapper .dataTables_paginate .next,
#Tissue_Type__wrapper .dataTables_paginate .previous,
#Tissue_Type__wrapper .dataTables_paginate .next {
    display: none;

}

#Species__wrapper .dataTables_paginate,
#Species__wrapper .dataTables_paginate,
#Platform__wrapper .dataTables_paginate,
#Platform__wrapper .dataTables_paginate,
#Tissue_Type__wrapper .dataTables_paginate ,
#Tissue_Type__wrapper .dataTables_paginate{

    font-weight: bold;
    float: left;
    text-align: left;
    padding-bottom: 2px; /* 调整按钮的内边距来改变大小 */
    padding-top: 2px;
    font-size: 12px; /* 调整字体大小 */
    display: flex; /* 使用弹性布局 */

}


#Species__wrapper .dataTables_paginate .paginate_button,
#Tissue_Type__wrapper .dataTables_paginate .paginate_button,
#Platform__wrapper .dataTables_paginate .paginate_button {
    border: 0.5px solid gray; /* 设置边框样式和颜色 */
    background-color: #FFFFFF; /* 设置背景颜色 */
}

/* 如果需要，你也可以添加鼠标悬停时的样式 */
#Species__wrapper .dataTables_paginate .paginate_button:hover,
#Tissue_Type__wrapper .dataTables_paginate .paginate_button:hover,
#Platform__wrapper .dataTables_paginate .paginate_button:hover {
    border-color: gray; /* 已生效！ 鼠标悬停时的边框颜色 */
    background: #8080804D; /*已生效 8080804D*/
}

#Species__wrapper .dataTables_paginate .paginate_button.current,
#Tissue_Type__wrapper .dataTables_paginate .paginate_button.current,
#Platform__wrapper .dataTables_paginate .paginate_button.current {
    border: 0.5px solid gray; /* 设置边框样式和颜色 */
    background: #5e72e4; /* 设置背景颜色 #5e72e4 */
}
