nav{
    background-color: #2e303f;
}

.navbar-brand{
    /*color: #ebe5d0;*/
    color: #ffc107;
    font-weight: bolder;
}

.nav-link{
    color: #ffffff;
    font-weight: bold;
}

.nav-link:hover{
    color: #ffc107;
}

.dropdown-item{
    background-color: #ffffff;
}

.dropdown-item:hover{
    color: #ffc107;
    background-color: #0f5132;
}