

.ul-sidenav{
    color: #FFFFFF !important;
}

.ul-sidenav li{
    background-color: #FFFFFF !important;
}


.li-sidebar{
    /* 普通li的样式 */
    list-style: none;
    background-color: #FFFFFF;
    padding: 8px;
    cursor: pointer;
}

.li-sidebar.active {
    /* 激活状态的样式 */
    background-color: #f0f0f0;
    color: #333;
    border-left: 2px solid blue;
}