
/* #1 针对表格的内部，表头地方进行样式设计 */

#experiments,
#region_erna,
#tc_sample,
#single_sample,

#table-CommonSNP,
#table-RiskSNP,
#table-cas9,
#table-rnainteraction,
#table-repeat,
#table-alu,
#table-eQTL,
#table-caQTL,
#table-haQTL,
#table-m5c,
#table-m6a,
#table-tfbs,
#table-rbp {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
}


#experiments th,
#region_erna th,
#tc_sample th,
#single_sample th,

#experiments th,
#table-CommonSNP th,
#table-RiskSNP th,
#table-cas9 th,
#table-rnainteraction th,
#table-repeat th,
#table-alu th,
#table-eQTL th,
#table-caQTL th,
#table-haQTL th,
#table-m5c th,
#table-m6a th,
#table-tfbs th,
#table-rbp th,
#table-CommonSNP td,
#table-RiskSNP td,
#table-cas9 td,
#table-rnainteraction td,
#table-repeat td,
#table-alu td,
#table-eQTL td,
#table-caQTL td,
#table-haQTL td,
#table-m5c td,
#table-m6a td,
#table-tfbs td,
#table-rbp td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* 表头样式 */

#experiments thead th,
#region_erna thead th,
#tc_sample thead th,
#single_sample thead th,

#experiments thead th,
#table-CommonSNP thead th,
#table-RiskSNP thead th,
#table-cas9 thead th,
#table-rnainteraction thead th,
#table-repeat thead th,
#table-alu thead th,
#table-eQTL thead th,
#table-caQTL thead th,
#table-haQTL thead th,
#table-m5c thead th,
#table-m6a thead th,
#table-tfbs thead th,
#table-rbp thead th
{
    background-color: #286ea7; /* 绿色背景 */
    color: white;             /* 白色文字 */
    text-align: center;
    font-weight: bold;
}



#experiments tbody tr.odd,
#region_erna tbody tr.odd,
#tc_sample tbody tr.odd,
#single_sample tbody tr.odd,

#table-CommonSNP tbody tr.odd,
#table-RiskSNP tbody tr.odd,
#table-cas9 tbody tr.odd,
#table-rnainteraction tbody tr.odd,
#table-repeat tbody tr.odd,
#table-alu tbody tr.odd,
#table-eQTL tbody tr.odd,
#table-caQTL tbody tr.odd,
#table-haQTL tbody tr.odd,
#table-m5c tbody tr.odd,
#table-m6a tbody tr.odd,
#table-tfbs tbody tr.odd,
#table-rbp tbody tr.odd {
    background-color: #FFFFFF;  /*设置所有行的背景色为白色 */
}

/*background-color: transparent !important;*/

/* #2 针对表格的按钮等部件进行样式设计 */

#experiments_wrapper .dataTables_paginate,
#region_erna_wrapper .dataTables_paginate,
#tc_sample_wrapper .dataTables_paginate,
#single_sample_wrapper .dataTables_paginate,

#table-CommonSNP_wrapper .dataTables_paginate,
#table-RiskSNP_wrapper .dataTables_paginate,
#table-cas9_wrapper .dataTables_paginate,
#table-rnainteraction_wrapper .dataTables_paginate,
#table-repeat_wrapper .dataTables_paginate,
#table-alu_wrapper .dataTables_paginate,
#table-eQTL_wrapper .dataTables_paginate,
#table-caQTL_wrapper .dataTables_paginate,
#table-haQTL_wrapper .dataTables_paginate,
#table-m5c_wrapper .dataTables_paginate,
#table-m6a_wrapper .dataTables_paginate,
#table-tfbs_wrapper .dataTables_paginate,
#table-rbp_wrapper .dataTables_paginate
{
    font-weight: bold;
    float: right;
    text-align: left;
    padding-bottom: 2px; /* 调整按钮的内边距来改变大小 */
    padding-top: 2px;
    font-size: 12px; /* 调整字体大小 */
    display: flex; /* 使用弹性布局 */

}



#experiments_wrapper .dataTables_paginate .paginate_button,
#region_erna_wrapper .dataTables_paginate .paginate_button,
#tc_sample_wrapper .dataTables_paginate .paginate_button,
#single_sample_wrapper .dataTables_paginate .paginate_button,

#table-CommonSNP_wrapper .dataTables_paginate .paginate_button,
#table-RiskSNP_wrapper .dataTables_paginate .paginate_button,
#table-cas9_wrapper .dataTables_paginate .paginate_button,
#table-rnainteraction_wrapper .dataTables_paginate .paginate_button,
#table-repeat_wrapper .dataTables_paginate .paginate_button,
#table-alu_wrapper .dataTables_paginate .paginate_button,
#table-eQTL_wrapper .dataTables_paginate .paginate_button,
#table-caQTL_wrapper .dataTables_paginate .paginate_button,
#table-haQTL_wrapper .dataTables_paginate .paginate_button,
#table-m5c_wrapper .dataTables_paginate .paginate_button,
#table-m6a_wrapper .dataTables_paginate .paginate_button,
#table-tfbs_wrapper .dataTables_paginate .paginate_button,
#table-rbp_wrapper .dataTables_paginate .paginate_button{
    border: 0.5px solid gray; /* 设置边框样式和颜色 */
    background-color: #FFFFFF; /* 设置背景颜色 */
}



#experiments_wrapper .dataTables_paginate .paginate_button.current,
#region_erna_wrapper .dataTables_paginate .paginate_button.current,
#tc_sample_wrapper .dataTables_paginate .paginate_button.current,
#single_sample_wrapper .dataTables_paginate .paginate_button.current,

#table-CommonSNP_wrapper .dataTables_paginate .paginate_button.current,
#table-RiskSNP_wrapper .dataTables_paginate .paginate_button.current,
#table-cas9_wrapper .dataTables_paginate .paginate_button.current,
#table-rnainteraction_wrapper .dataTables_paginate .paginate_button.current,
#table-repeat_wrapper .dataTables_paginate .paginate_button.current,
#table-alu_wrapper .dataTables_paginate .paginate_button.current,
#table-eQTL_wrapper .dataTables_paginate .paginate_button.current,
#table-caQTL_wrapper .dataTables_paginate .paginate_button.current,
#table-haQTL_wrapper .dataTables_paginate .paginate_button.current,
#table-m5c_wrapper .dataTables_paginate .paginate_button.current,
#table-m6a_wrapper .dataTables_paginate .paginate_button.current,
#table-tfbs_wrapper .dataTables_paginate .paginate_button.current,
#table-rbp_wrapper .dataTables_paginate .paginate_button.current {
    border: 0.5px solid gray; /* 设置边框样式和颜色 */
    background: #006fb6; /* 设置背景颜色 */
    color: #FFFFFF !important;

}






#experiments_wrapper .dataTables_info,
#experiments_wrapper .dataTables_info,
#region_erna_wrapper .dataTables_info,
#tc_sample_wrapper .dataTables_info,
#single_sample_wrapper .dataTables_info,

#table-CommonSNP_wrapper .dataTables_info,
#table-RiskSNP_wrapper .dataTables_info,
#table-cas9_wrapper .dataTables_info,
#table-rnainteraction_wrapper .dataTables_info,
#table-repeat_wrapper .dataTables_info,
#table-alu_wrapper .dataTables_info,
#table-eQTL_wrapper .dataTables_info,
#table-caQTL_wrapper .dataTables_info,
#table-haQTL_wrapper .dataTables_info,
#table-m5c_wrapper .dataTables_info,
#table-m6a_wrapper .dataTables_info,
#table-tfbs_wrapper .dataTables_info,
#table-rbp_wrapper .dataTables_info
{
    font-weight: bold;
    float: left;
    text-align: left;
    padding-bottom: 2px; /* 调整按钮的内边距来改变大小 */
    padding-top: 2px;
    font-size: 14px; /* 调整字体大小 */
}


#experiments_wrapper .dataTables_length,
#region_erna_wrapper .dataTables_length,
#tc_sample_wrapper .dataTables_length,
#single_sample_wrapper .dataTables_length,

#table-CommonSNP_wrapper .dataTables_length,
#table-RiskSNP_wrapper .dataTables_length,
#table-cas9_wrapper .dataTables_length,
#table-rnainteraction_wrapper .dataTables_length,
#table-repeat_wrapper .dataTables_length,
#table-alu_wrapper .dataTables_length,
#table-eQTL_wrapper .dataTables_length,
#table-caQTL_wrapper .dataTables_length,
#table-haQTL_wrapper .dataTables_length,
#table-m5c_wrapper .dataTables_length,
#table-m6a_wrapper .dataTables_length,
#table-tfbs_wrapper .dataTables_length,
#table-rbp_wrapper .dataTables_length {
    /*margin-right: 10px;*/
}


#experiments_wrapper .dt-buttons .buttons-csv,
#region_erna_wrapper .dt-buttons .buttons-csv,
#tc_sample_wrapper .dt-buttons .buttons-csv,
#single_sample_wrapper .dt-buttons .buttons-csv,

#table-CommonSNP_wrapper .dt-buttons .buttons-csv,
#table-RiskSNP_wrapper .dt-buttons .buttons-csv,
#table-cas9_wrapper .dt-buttons .buttons-csv,
#table-rnainteraction_wrapper .dt-buttons .buttons-csv,
#table-repeat_wrapper .dt-buttons .buttons-csv,
#table-alu_wrapper .dt-buttons .buttons-csv,
#table-eQTL_wrapper .dt-buttons .buttons-csv,
#table-caQTL_wrapper .dt-buttons .buttons-csv,
#table-haQTL_wrapper .dt-buttons .buttons-csv,
#table-m5c_wrapper .dt-buttons .buttons-csv,
#table-m6a_wrapper .dt-buttons .buttons-csv,
#table-tfbs_wrapper .dt-buttons .buttons-csv,
#table-rbp_wrapper .dt-buttons .buttons-csv {
    font-weight: bold;
    font-size: 14px;
    background-color: #286ea7; !important;
    display: flex;
    float: left;
}


#experiments_wrapper .top,
#region_erna_wrapper .top,
#tc_sample_wrapper .top,
#single_sample_wrapper .top,

#table-CommonSNP_wrapper .top,
#table-RiskSNP_wrapper .top,
#table-cas9_wrapper .top,
#table-rnainteraction_wrapper .top,
#table-repeat_wrapper .top,
#table-alu_wrapper .top,
#table-eQTL_wrapper .top,
#table-caQTL_wrapper .top,
#table-haQTL_wrapper .top,
#table-m5c_wrapper .top,
#table-m6a_wrapper .top,
#table-tfbs_wrapper .top,
#table-rbp_wrapper .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


#experiments_wrapper .top > :first-child + :nth-child(2) ,
#region_erna_wrapper .top > :first-child + :nth-child(2) ,
#tc_sample_wrapper .top > :first-child + :nth-child(2) ,
#single_sample_wrapper .top > :first-child + :nth-child(2) ,

#table-CommonSNP_wrapper .top > :first-child + :nth-child(2) ,
#table-RiskSNP_wrapper .top > :first-child + :nth-child(2) ,
#table-cas9_wrapper .top > :first-child + :nth-child(2) ,
#table-rnainteraction_wrapper .top > :first-child + :nth-child(2) ,
#table-repeat_wrapper .top > :first-child + :nth-child(2) ,
#table-alu_wrapper .top > :first-child + :nth-child(2) ,
#table-eQTL_wrapper .top > :first-child + :nth-child(2) ,
#table-caQTL_wrapper .top > :first-child + :nth-child(2) ,
#table-haQTL_wrapper .top > :first-child + :nth-child(2) ,
#table-m5c_wrapper .top > :first-child + :nth-child(2) ,
#table-m6a_wrapper .top > :first-child + :nth-child(2) ,
#table-tfbs_wrapper .top > :first-child + :nth-child(2) ,
#table-rbp_wrapper .top > :first-child + :nth-child(2) {
    margin-right: auto; /* 让第二个元素紧贴第一个元素 */
}





/* #2 针对Summary的表格的进行样式设计 */


#summary {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}





/* 3. 设置表格行的下边框颜色为黑色 */
#experiments tbody tr {
    border-bottom: 1px solid rgb(222, 226, 230);
}


/* 4. 超链接内容取消下划线 */
#experiments tbody a,
#region_erna tbody a,
#tc_sample tbody a,
#single_sample tbody a
{
    text-decoration: none !important; /* 取消超链接的下划线 */
}








